.header__logo-small {
   display: none;
}

@media (max-width: 1200px) {
   .container {
      width: 95%;
   }
   .news .wrapper {
      justify-content: space-around;
      flex-wrap: wrap;
      & img {
         margin: 40px 0px 0px 0px;
      }
   }
   .header__nav a {
      margin: 0px 0 0 30px;
   }
   .faq .ui-accordion-header {
      padding: 20px 70px 20px 30px;
   }
}
@media (max-width: 992px) {
   .order__body {
      padding: 50px 25px 60px 25px;
   }
   .order__steps {
      width: 170px;
   }
   .header__logo {
      display: none;
   }
   .header__nav a {
      font-size: 14px;
      margin: 0px 0 0 20px;
   }
   .header__logo-small {
      display: block;
      margin: 5px 0px 0px 0px;
   }
   .header__title {
      margin: 3px 0px 0px 0px;
   }
   .wappgroup__title {
      font-size: 15px;
      line-height: 22px;
   }
   .wappgroup__button {
      font-size: 14px;
   }
   .order__title,
   .uslugi__title,
   .how__title,
   .about__title,
   .faq__title,
   .news__title,
   .price__title,
   .intro__title {
      font-size: 27px;
   }
   .about__column {
      font-size: 13px;
   }
   .footer .wrapper {
      //flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}
@media (max-width: 768px) {
   .wappgroup__button {
      margin: 40px 0px 0px 0px;
   }
   .wappgroup__title {
      text-align: center;
   }
   .wappgroup__blok {
      flex-direction: column;
   }
   .uslugi__border {
      width: 210px;
   }
   .uslugi__item {
      width: 230px;
   }
   .how__column {
      width: 200px;
      margin: 0px 0px 40px 0px;
   }
   .how .wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .how__line {
      display: none;
   }
   .news__column {
      width: 230px;
      & img {
         width: 230px;
      }
   }
   .intro__title::after,
   .order__title::after,
   .price__title::after {
      top: 100px;
   }
   .order__title,
   .uslugi__title,
   .how__title,
   .about__title,
   .faq__title,
   .news__title,
   .price__title,
   .intro__title {
      font-size: 30px;
   }
   .header__title,
   .header__social,
   .header__row2,
   .header__nav {
      display: none;
   }
   .order__steps {
      width: 130px;
   }
   .order__inputs {
      flex-direction: column;
   }
   .about .wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
}
@media (max-width: 576px) {
   .news .wrapper img {
      margin: 40px 0px 20px 0px;
   }
   .news__column img {
      width: 170px;
      height: 170px;
   }
   .footer__title {
      margin: 40px 0px 0px 0px;
   }
   .footer__connection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
   }
   .footer__pricebutton,
   .footer__orderbutton {
      align-self: center;
   }
   .order__button {
      width: 135px;
   }
   table th {
      font-size: 12px;
   }
   .about__column,
   .how__column {
      width: 185px;
   }
   .news__column {
      width: 370px;
   }
   .footer .wrapper {
      flex-direction: column;
      padding: 0px 10px 0px 10px;
   }
   .faq__title::after {
      top: 100px;
   }
   .order__title,
   .price-dis__title,
   .uslugi__title,
   .how__title,
   .about__title,
   .faq__title,
   .news__title,
   .price__title,
   .intro__title {
      font-size: 27px;
   }

   .uslugi__item-title {
      font-size: 12px;
   }
   .uslugi__border {
      width: 150px;
      height: 150px;
   }
   .uslugi__item {
      width: 170px;
      height: 170px;
   }
   .order .active {
      display: block;
   }
   .order__steps {
      display: none;
   }
}
@media (max-width: 413px) {
}
