@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&display=swap");
body {
   font-family: "Exo 2", sans-serif;
   line-height: 1.4;
   background-color: #fff;
   letter-spacing: 0.02em;
}
$regular: 400;
$bold: 700;
$black: 900;

@mixin font($fz, $fw, $fc) {
   font-size: $fz;
   font-weight: $fw;
   color: $fc;
}

$bg: #f8f9fa;
$border: #dadbdc;
$font1: #262728;
$font2: #a8a9aa;
$white: #fff;
$color1: #294594;
$color2: #f7992b;

.container {
   max-width: 1170px;
   margin: 0 auto;
}
.header {
   &__row1 {
      background-color: $color1;
      & .wrapper {
         display: flex;
         justify-content: space-between;
         padding: 12px 0;
      }
   }

   &__title {
      @include font(14px, $regular, $white);
   }

   &__social {
      & img {
         margin: 0 0 0 20px;
      }
   }

   &__row2 {
      background-color: $white;
      & .wrapper {
         display: flex;
         justify-content: space-between;
         padding: 23px 0;
      }
   }

   &__logo {
   }

   &__item {
      @include font(14px, $bold, $font1);
      text-align: left;
      position: relative;
      padding-left: 36px;
      &.button {
         padding-left: 70px;
         width: 160px;
         & img {
            left: 15px;
         }
      }
      &.button::before {
         content: "";
         position: absolute;
         top: -23px;
         left: 0;
         width: 1px;
         height: 220%;
         background-color: #dadbdc;
      }
      &.button::after {
         content: "";
         position: absolute;
         top: -23px;
         right: 0;
         width: 1px;
         height: 220%;
         background-color: #dadbdc;
      }

      & span {
         @include font(14px, $regular, $font1);
      }
      & img {
         display: block;
         position: absolute;
         left: 0;
         top: 7px;
      }
   }

   &__nav {
      background-color: $color2;
      & .wrapper {
         display: flex;
         justify-content: space-between;
         padding: 13px 0;
      }
      & li {
         display: inline-block;
      }
      & a {
         margin: 0 0 0 63px;
         text-transform: uppercase;
         @include font(18px, $bold, $white);
         letter-spacing: 0.06em;
      }
   }
}
