@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&display=swap");
body {
   font-family: "Exo 2", sans-serif;
   line-height: 1.5;
   background-color: #fff;
   letter-spacing: 0.02em;
}
$regular: 400;
$bold: 700;
$black: 900;

@mixin font($fz, $fw, $fc) {
   font-size: $fz;
   font-weight: $fw;
   color: $fc;
}

$bg: #f8f9fa;
$border: #dadbdc;
$font1: #262728;
$font2: #a8a9aa;
$white: #fff;
$color1: #294594;
$color2: #f7992b;

.container {
   max-width: 1170px;
   margin: 0 auto;
}
.header {
   &__row1 {
      background-color: $color1;
      & .wrapper {
         display: flex;
         justify-content: space-between;
         padding: 12px 0;
      }
   }

   &__title {
      @include font(14px, $regular, $white);
   }

   &__social {
      & img {
         margin: 0 0 0 20px;
         vertical-align: middle;
      }
   }

   &__row2 {
      background-color: $white;
      & .wrapper {
         display: flex;
         justify-content: space-between;
         padding: 23px 0;
      }
   }

   &__logo {
   }

   &__item {
      @include font(14px, $bold, $font1);
      text-align: left;
      position: relative;
      padding-left: 36px;
      &.button {
         padding-left: 72px;
         padding-top: 4px;
         width: 160px;
         line-height: 1.2;
         & img {
            left: 25px;
         }
      }
      &.button::before {
         content: "";
         position: absolute;
         top: -23px;
         left: 0;
         width: 1px;
         height: 209%;
         background-color: #dadbdc;
      }
      &.button::after {
         content: "";
         position: absolute;
         top: -23px;
         right: 0;
         width: 1px;
         height: 209%;
         background-color: #dadbdc;
      }

      & span {
         @include font(14px, $regular, $font1);
      }
      & img {
         display: block;
         position: absolute;
         left: 0;
         top: 7px;
      }
   }

   &__nav {
      background-color: $color2;
      & .wrapper {
         display: flex;
         justify-content: space-between;
         padding: 13px 0;
      }
      & li {
         display: inline-block;
      }
      & a {
         margin: 0 0 0 63px;
         text-transform: uppercase;
         @include font(18px, $bold, $white);
         letter-spacing: 0.06em;
      }
   }
}
.intro {
   background: url("../img/intro.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   padding: 57px 0;
   text-align: center;

   &__title {
      @include font(36px, $black, $white);
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      margin-bottom: 30px;
      &::after {
         content: "";
         position: absolute;
         top: 65px;
         left: 50%;
         text-align: center;
         width: 200px;
         margin-left: -100px;
         height: 2px;
         background: #f7992b;
      }
   }

   &__subtitle {
      @include font(26px, $bold, $white);
      & span {
         color: #f7992b;
      }
   }

   &__button {
      @include font(18px, $black, $white);
      text-transform: uppercase;
      letter-spacing: 0.06em;
      background-color: #f7992b;
      padding: 12px 0;
      width: 370px;
      margin: 20px auto 0 auto;
      border-radius: 5px;
   }
}
