@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Exo 2", sans-serif;
  line-height: 1.5;
  background-color: #f8f9fa;
  letter-spacing: 0.02em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table img {
  width: 70px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: -20px auto;
}

table th {
  padding: 30px 20px 30px 20px;
  background: #ffffff;
  border: 1px solid #dadbdc;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.02em;
  text-align: left;
}

table thead th {
  text-align: center;
  border: 1px solid #ffffff;
  padding: 10px 0px 10px 0px;
  background: #dadbdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 1;
}

.header__menu {
  z-index: 2;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f8f9fa;
  padding: 50px 0 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu.active {
  top: 0;
}

.header__menu .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px 40px 60px;
}

.header__menu .wrapper div {
  margin: 20px 0px 0px 0px;
}

.header .container {
  position: relative;
  z-index: 2;
}

.header__menu1 {
  display: none;
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  overflow: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 20px 30px 40px 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu1.active {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu1 ul li {
  display: list-item;
}

.header__menu1 li {
  padding: 20px 60px 0px 0px;
}

.header__menu1 li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #262728;
  text-transform: none;
  text-align: left;
  margin: 0;
}

.header__menu1 li a:hover {
  color: #f7992b;
}

.header__menu-button {
  color: #fff;
  background: #f7992b;
  width: 240px;
  height: 30px;
  margin: 0px auto 40px auto;
  padding: 3px 0px 0px 0px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
}

.header__menu-button img {
  height: 16px;
  margin: 3px 3px 0px 0px;
}

.header__submenu li a {
  color: #262728;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}

.header__list {
  text-align: center;
}

.header__list li {
  background: #fff;
  padding: 15px 0px 15px 0px;
  margin: 2px 0px 0px 0px;
}

.header__list a {
  text-transform: uppercase;
  font-style: normal;
  color: #f7992b;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
}

.header__burger {
  display: none;
  margin: 3px 0px 0px 0px;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before, .header__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger1 {
  margin: 3px 0px 0px 0px;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.header__burger1 span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger1::before, .header__burger1::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger1::before {
  top: 0;
}

.header__burger1::after {
  bottom: 0;
}

.header__burger1.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger1.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger1.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__row1 {
  background-color: #294594;
}

.header__row1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.header__title {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.header__social img {
  margin: 0 0 0 20px;
  vertical-align: middle;
}

.header__row2 {
  background-color: #fff;
}

.header__row2 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0;
}

.header__item {
  font-size: 14px;
  font-weight: 700;
  color: #262728;
  text-align: left;
  position: relative;
  padding-left: 36px;
}

.header__item.button {
  padding-left: 72px;
  padding-top: 4px;
  width: 160px;
  line-height: 1.2;
}

.header__item.button img {
  left: 25px;
}

.header__item.button::before {
  content: "";
  position: absolute;
  top: -23px;
  left: 0;
  width: 1px;
  height: 209%;
  background-color: #dadbdc;
}

.header__item.button::after {
  content: "";
  position: absolute;
  top: -23px;
  right: 0;
  width: 1px;
  height: 209%;
  background-color: #dadbdc;
}

.header__item span {
  font-size: 14px;
  font-weight: 400;
  color: #262728;
}

.header__item img {
  display: block;
  position: absolute;
  left: 0;
  top: 9px;
}

.header__nav {
  z-index: 0;
  position: relative;
  background-color: #f7992b;
}

.header__nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 0;
}

.header__nav li {
  display: inline-block;
}

.header__nav a {
  margin: 0 0 0 63px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.06em;
}

.intro {
  position: relative;
  z-index: 0;
  background: url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 57px 0;
  text-align: center;
}

.intro__title {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.intro__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.intro__subtitle {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.intro__subtitle span {
  color: #f7992b;
}

.intro__button {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: #f7992b;
  padding: 12px 0;
  width: 370px;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro__button:hover {
  background: #294594;
}

.wappgroup {
  background-color: #fff;
  padding: 30px 0px 30px 0px;
}

.wappgroup__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #294594;
  padding: 40px 80px;
  border: 10px solid #3e579e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.wappgroup__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 38px;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.wappgroup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 320px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wappgroup__button:hover {
  background: #f7992b;
}

.wappgroup__button img {
  margin-right: 10px;
}

.uslugi {
  padding-bottom: 80px;
}

.uslugi .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uslugi__title {
  position: relative;
  margin: 65px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #262728;
}

.uslugi__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.uslugi__item {
  position: relative;
  width: 270px;
  height: 203px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.uslugi__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.uslugi__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uslugi__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
}

.uslugi__border {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 250px;
  height: 183px;
  opacity: 0.3;
  border: 5px solid #ffffff;
}

.uslugi__item-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order {
  padding: 65px 0px 80px 0px;
  background-color: #294594;
}

.order__title {
  position: relative;
  margin: 0px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.order__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.order .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__steps {
  margin: 20px 0px 0px 0px;
  width: 220px;
  height: 70px;
  padding: 15px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order .active {
  color: #f7992b;
  background: #ffffff;
  border-radius: 5px 5px 0px 0px;
}

.order .active span {
  color: #262728;
}

.order__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 50px 30px 60px 30px;
}

.order__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px 0px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order__column input {
  margin: 6px 0px 30px 0px;
  border-radius: 5px;
  height: 50px;
  padding: 0px 20px 0px 20px;
}

.order__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px 15px 0px;
  width: 170px;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order__button img {
  padding: 0px 10px 0px 0px;
}

.order__button.next {
  background: #f7992b;
  border: none;
}

.order__button.next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.price__title {
  position: relative;
  margin: 65px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #262728;
}

.price__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.price__subtitle {
  margin: 0px 0px 30px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #262728;
}

.price__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #262728;
  border: 2px solid #a8a9aa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 0;
  width: 370px;
  margin: 40px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price__button:hover {
  background: #294594;
  color: #fff;
}

.price-dis {
  padding: 0px 0px 70px 0px;
}

.price-dis__title {
  position: relative;
  margin: 65px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #262728;
}

.price-dis__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.how {
  position: relative;
  background: #294594;
  padding: 65px 0px 80px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.how__title {
  position: relative;
  margin: 0px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.how__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.how .wrapper {
  margin: 50px 0px 0px 0px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how .container {
  position: relative;
}

.how__line {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 70%;
  margin-left: -35%;
  height: 4px;
  background: url("../img/punktir.svg");
  background-repeat: repeat-x;
}

.how img {
  margin: 0px 0px 20px 0px;
}

.how__column {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.how__button {
  width: 370px;
  padding: 15px 0px 15px 0px;
  margin: 40px auto 0px auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.how__button:hover {
  background: #fff;
  color: #294594;
}

.about {
  padding: 65px 0px 80px 0px;
}

.about__title {
  position: relative;
  margin: 0px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* Шрифт 1 */
  color: #262728;
}

.about__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.about__text p {
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.02em;
  margin: 10px 0px 10px 0px;
}

.about .wrapper {
  margin: 45px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__column {
  width: 210px;
  margin: 15px 5px;
  padding: 35px 15px 35px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #ffffff;
  /* Обводка */
  border: 1px solid #dadbdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
}

.about__column img {
  margin: 0px 0px 20px 0px;
}

.faq {
  background: #fff;
  padding: 65px 0px 80px 0px;
}

.faq__title {
  position: relative;
  margin: 0px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #262728;
}

.faq__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.faq h3 {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #294594;
}

.faq__item p {
  position: relative;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #262728;
  padding: 0px 80px 40px 60px;
}

.faq__item p::before {
  position: absolute;
  top: 5px;
  left: 30px;
  content: "";
  width: 4px;
  height: 33px;
  background: #f7992b;
}

.faq .ui-accordion-header {
  border: 2px solid #dadbdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
  margin: 20px 0px 0px 0px;
}

.faq .ui-state-active {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background: #f8f9fa;
}

.faq .ui-accordion-content-active {
  background: #f8f9fa;
  border-bottom: none;
}

.faq .ui-accordion-content {
  border: 2px solid #dadbdc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.faq span {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
}

.faq .ui-icon-triangle-1-s {
  background: url(../img/arrow-faq.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 10px;
}

.faq .ui-icon-triangle-1-e {
  background: url(../img/arrow-faq.svg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 15px;
  height: 10px;
}

.faq__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #262728;
  border: 2px solid #a8a9aa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 0;
  width: 370px;
  margin: 40px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq__button:hover {
  background: #294594;
  color: #fff;
}

.news {
  background: #294594;
  color: #fff;
  padding: 65px 0px 80px 0px;
}

.news__title {
  position: relative;
  margin: 0px 0px 40px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.news__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  height: 2px;
  background: #f7992b;
}

.news .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__column {
  width: 270px;
}

.news__column img {
  width: 270px;
  height: 203px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0px 0px 15px 0px;
}

.news__column h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0px 7px 0px;
}

.news__column span {
  font-size: 12px;
}

.news__column p {
  margin: 7px 0px 0px 0px;
}

.news__button {
  color: #fff;
  text-align: center;
  width: 370px;
  padding: 15px 0px 15px 0px;
  margin: 40px auto 0px auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news__button:hover {
  background: #fff;
  color: #294594;
}

.map {
  position: relative;
  height: 350px;
}

.map__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
}

.map .container {
  position: relative;
}

.map__blok {
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  border: 1px solid #dadbdc;
  padding: 35px 60px 35px 30px;
  font-weight: bold;
  font-size: 14px;
}

.map__blok span {
  font-weight: normal;
}

.map__row {
  position: relative;
  margin: 8px 0px 0px 40px;
}

.map__row img {
  display: block;
  position: absolute;
  left: -40px;
  top: 9px;
}

.footer {
  background: #294594;
  color: #fff;
  padding: 35px 0px 50px 0px;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info p {
  margin: 10px 0px 0px 0px;
}

.footer__title {
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.footer__menu li {
  padding: 10px 0px 0px 0px;
}

.footer__menu a {
  color: #fff;
}

.footer__contacts p {
  padding: 10px 0px 0px 0px;
}

.footer__contacts span {
  font-weight: bold;
}

.footer__social {
  margin: 15px 0px 0px 0px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__pricebutton, .footer__orderbutton {
  height: 50px;
  width: 220px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffffff;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__pricebutton img, .footer__orderbutton img {
  position: absolute;
  left: 15px;
  top: 10px;
}

.footer__pricebutton:hover, .footer__orderbutton:hover {
  background: #f7992b;
}
